<div class="row hero">
  <div class="twelve columns offset-by-four whitespace">
    <h1 class="change">Change</h1>
    <span class="element">
    </span>
  </div>
</div>
<div class="row">
  <div class="twelve columns">
    <div class="campaign-card whitespace">
      <div class="thumbnail">
        <a href="#">
          <%= image_tag("Sport-Relief.jpg", height: '235', width: '410') %>
        </a>
      </div>
      <div class="project-footer"></div>
    </div>
  </div>
</div>
<div class="row footer">
  <div class="container">
    <div class="three columns">
      <h5 class="footer-title">About Us</h5>
      <ul>
        <li class="white"><a class="white" href="#">What is Chivalrous?</a></li>
        <li class="white"><a class="white" href="#">Who we are</a></li>
        <li class="white"><a class="white" href="#">Jobs</a></li>
        <li class="white"><a class="white" href="#">Newsletters</a></li>
      </ul>
    </div>
    <div class="three columns">
      <h5 class="footer-title">Help</h5>
      <ul>
        <li class="white"><a class="white" href="#">FAQ</a></li>
        <li class="white"><a class="white" href="#">Our Rules</a></li>
        <li class="white"><a class="white" href="#">Creator Handbook</a></li>
        <li class="white"><a class="white" href="#">Campus</a></li>
        <li class="white"><a class="white" href="#">Trust & Safety</a></li>
        <li class="white"><a class="white" href="#">Support</a></li>
        <li class="white"><a class="white" href="#">Terms of Use</a></li>
        <li class="white"><a class="white" href="#">Privacy Policy</a></li>
        <li class="white"><a class="white" href="#">Cookie Policy</a></li>
      </ul>
    </div>
    <div class="three columns">
      <h5 class="footer-title">Help</h5>
      <ul>
        <li class="white"><a class="white" href="#">FAQ</a></li>
        <li class="white"><a class="white" href="#">Our Rules</a></li>
        <li class="white"><a class="white" href="#">Creator Handbook</a></li>
        <li class="white"><a class="white" href="#">Campus</a></li>
        <li class="white"><a class="white" href="#">Trust & Safety</a></li>
        <li class="white"><a class="white" href="#">Support</a></li>
        <li class="white"><a class="white" href="#">Terms of Use</a></li>
        <li class="white"><a class="white" href="#">Privacy Policy</a></li>
        <li class="white"><a class="white" href="#">Cookie Policy</a></li>
      </ul>
    </div>
    <div class="three columns">
      <h5 class="footer-title">Help</h5>
      <ul>
        <li class="white"><a class="white" href="#">FAQ</a></li>
        <li class="white"><a class="white" href="#">Our Rules</a></li>
        <li class="white"><a class="white" href="#">Creator Handbook</a></li>
        <li class="white"><a class="white" href="#">Campus</a></li>
        <li class="white"><a class="white" href="#">Trust & Safety</a></li>
        <li class="white"><a class="white" href="#">Support</a></li>
        <li class="white"><a class="white" href="#">Terms of Use</a></li>
        <li class="white"><a class="white" href="#">Privacy Policy</a></li>
        <li class="white"><a class="white" href="#">Cookie Policy</a></li>
      </ul>
    </div>

    <div class="seven columns no-margin">
      <h4 class="newsletter">Sign up for our newsletter</h4>
      <form class="" action="index.html" method="post">
        <input class="eight columns"placeholder="Your email address" type="email">
        <button class="orange-button">Sign up</button>
      </form>
    </div>
    <div class="four columns social-margin">
      <h4 class="follow">Follow us</h4>
      <a class="a-noncolor" href="http://www.facebook.com"><i class="fa fa-facebook-official fa-lg social-media" aria-hidden="true"></i></a>
      <a class="a-noncolor" href="http://www.twitter.com"><i class="fa fa-twitter fa-lg social-media" aria-hidden="true"></i></a>
      <a class="a-noncolor" href="http://www.instagram.com"><i class="fa fa-instagram fa-lg social-media" aria-hidden="true"></i></a>
      <a class="a-noncolor" href="http://www.youtube.com"><i class="fa fa-youtube-play fa-lg social-media" aria-hidden="true"></i></a>
    </div>
  </div>
</div>




<script>
    $(function(){
        $(".element").typed({
            strings: ["yourself" , "or", "the world"],
            typeSpeed: 0
        });
    });
</script>
