/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 .modal {
     display: none; /* Hidden by default */
     position: fixed; /* Stay in place */
     z-index: 1; /* Sit on top */
     left: 0;
     top: 0;
     width: 100%; /* Full width */
     height: 100%; /* Full height */
     overflow: auto; /* Enable scroll if needed */
     background-color: rgb(0,0,0); /* Fallback color */
     background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
     -webkit-animation-name: fadeIn; /* Fade in the background */
     -webkit-animation-duration: 0.4s;
     animation-name: fadeIn;
     animation-duration: 0.4s
 }

 /* Modal Content */
 .modal-content {
     position: fixed;
     bottom: 250px;
     background-color: #fefefe;
     width: 100%;
     -webkit-animation-name: slideIn;
     -webkit-animation-duration: 0.4s;
     animation-name: slideIn;
     animation-duration: 0.4s
 }

 /* The Close Button */
 .close {
     color: black;
     float: right;
     font-size: 25px;
     font-weight: bold;
 }

 .close:hover,
 .close:focus {
     color: #fc3844;
     text-decoration: none;
     cursor: pointer;
 }

 .modal-header {
     padding: 2px 16px;
     background-color: white;
     color: #333;
 }

 .modal-body {padding: 2px 16px;}

 .modal-footer {
     padding: 2px 16px;
     background-color: #5cb85c;
     color: white;
 }

 /* Add Animation */
 @-webkit-keyframes slideIn {
     from {bottom: -300px; opacity: 0}
     to {bottom: 250px; opacity: 1}
 }

 @keyframes slideIn {
     from {bottom: -300px; opacity: 0}
     to {bottom: 250px; opacity: 1}
 }

 @-webkit-keyframes fadeIn {
     from {opacity: 0}
     to {opacity: 1}
 }

 @keyframes fadeIn {
     from {opacity: 0}
     to {opacity: 1}
 }


.nav-right {
  float: right; }
  .nav-right ul {
    right: 0; }

.nav-space {
  padding-bottom: 60px; }

nav {
  font-family: "Helvetica Neue", "Roboto", sans-serif;
  font-size: 0.9em;
  color: #FC3844;
  height: 72px;
  background-color: #FFF;
  z-index: 999;
  width: 100%;
  display: inline-block;
  border-bottom: solid 1px rgba(233, 233, 233, 1);}
nav .menu-icon {
  position: absolute;
  top: 0px;
  cursor: pointer;
  display: inline-block;
  padding: 2.8rem 0 0 0;
  -webkit-user-select: none;
   -moz-user-select: none;
    -ms-user-select: none;
        user-select: none; }
nav .menu-icon .navicon {
  margin-left: 2rem;
  background: #FC3844;
  display: block;
  height: 2px;
  position: relative;
  -webkit-transition: background 0.2s ease-out;
  transition: background 0.2s ease-out;
  width: 18px; }
nav .menu-icon .navicon:before, nav .menu-icon .navicon:after {
  background: #FC3844;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  width: 100%; }
nav .menu-icon .navicon:before {
  top: 5px; }
nav .menu-icon .navicon:after {
  top: -5px; }
nav .menu-btn {
  display: none; }
nav .menu-btn:checked ~ .menu {
  max-height: 240px; }
nav .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent; }
nav .menu-btn:checked ~ .menu-icon .navicon:before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg); }
nav .menu-btn:checked ~ .menu-icon .navicon:after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg); }
nav .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before, nav .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0; }
nav.nav-fixed {
  position: fixed; }
nav ~ ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-block; }
nav li {
  height: 60px;
  list-style: none;
  float: left;
  -webkit-transition: 0.3s background-color ease-out;
  transition: 0.3s background-color ease-out;
  cursor: pointer;
  position: relative; }
nav li:not(.nav-label):hover {
  background-color: #FFF; }
nav li:not(.nav-label):hover ul {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
  color: #FC3844;
  height: auto; }
nav li:not(.nav-label):hover ul li {
  height: 60px; }
nav li:not(.nav-label) ul {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  height: 0;
  z-index: 999;
  min-width: 100%;
  background-color: #FFF; }
nav li:not(.nav-label) ul li {
  z-index: 999;
  float: none;
  margin-right: 0;
  position: relative;
  height: 0; }
nav li:not(.nav-label) ul li a {
  color: #FC3844; }
nav li:not(.nav-label) ul li a:hover {
  color: #F2F2F2;
  background-color: #fff; }
nav .dropdown {
  margin-right: 19px;
  color: #FC3844; }
nav .dropdown:before {
  content: "\fe40";
  margin-top: 5px;
  right: 10px;
  position: absolute; }
@media screen and (max-width: 550px) {
nav ul {
  width: 100%;
  display: block; }
nav li {
  width: 100%;
  background-color: #FFF;
  height: 0;
  opacity: 0; }
nav li:not(.nav-label) ul {
  position: static;
  background-color: #FFF;
  font-size: 0.9em; }
nav li:not(.nav-label) ul li {
  background-color: #FFF;
  color: #F2F2F2;
  width: 49.5%; }
nav #menu-btn:checked ~ ul li {
  height: 60px;
  z-index: 999;
  visibility: visible;
  opacity: 1; }
nav #menu-btn:checked ~ ul li:not(.nav-label) {
  display: inline-block; }
nav #menu-btn:checked ~ ul li:not(.nav-label):hover {
  height: auto;
  background-color: #FFF; }
nav #menu-btn:checked ~ ul li:not(.nav-label) a {
  color: #333; }
nav #menu-btn:checked ~ ul li:not(.nav-label) a li:hover a {
  color: #FC3844; }
nav .nav-label {
  width: auto;
  opacity: 1;
  height: 60px; }
nav a {
  color: #1b95e0; } }
nav .nav-label {
  background-color: #fff;
  padding-top: 12px;
  padding-left: 15px;}
nav a {
  display: block;
  padding: 0 12px;
  text-decoration: none;
  white-space: nowrap;
  line-height: 60px;
  color: #333;
  font-weight: 500;
  font-size: 1.1em}
nav a:hover {
  color: #FC3844; }
nav a:hover.nav-label {
  color: #FC3844; }
  input[type=checkbox].navbar {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  padding: 0;
  margin: 0; }

label.navbar, input[type=checkbox].navbar {
  position: absolute;
  right: 0;
  top: 0;
  width: 60px;
  height: 60px;
  visibility: hidden;
  text-align: center;
  transition: 0.3s background-color ease-out;
  -webkit-transition: 0.3s background-color ease-out;
  cursor: pointer;
  z-index: 999;
  line-height: 60px; }
@media screen and (max-width: 550px) {
  label.navbar, input[type=checkbox].navbar {
    visibility: visible; } }

.action {
  text-align: center
}

/* Bounce To Right */
.hvr-bounce-to-right {
  color: #333;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  text-decoration: none;
  border-radius: 4px;
  border: 1px solid #bbb;
  height: 38px;
  padding: 0 30px;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
}
.hvr-bounce-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #FC3844;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-bounce-to-right:hover, .hvr-bounce-to-right:focus, .hvr-bounce-to-right:active {
  color: white;
}
.hvr-bounce-to-right:hover:before, .hvr-bounce-to-right:focus:before, .hvr-bounce-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}
/*
duplicate
*/

#hvr-bounce-to-2right {
  color: #333;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  text-decoration: none;
  border-radius: 4px;
  border: 1px solid #bbb;
  height: 38px;
  padding: 0 30px;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
}
#hvr-bounce-to-2right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #FC3844;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
#hvr-bounce-to-2right:hover, .hvr-bounce-to-right:focus, .hvr-bounce-to-right:active {
  color: white;
}
#hvr-bounce-to-2right:hover:before, .hvr-bounce-to-right:focus:before, .hvr-bounce-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}



.space-top {
  margin-top: 50px;
  margin: 0 auto;
  border: solid 1px #555;
  border-radius:10px;
  padding: 20px;
}

.project-title {

  margin-bottom: 0.25em
}

.project-byline {
  font-size: 12px;
  margin-bottom: 20px;
  color: #3D3D66;
}

.project-content {
  margin-bottom: 60px;
  font-size: 12px;
  color: #3D3D66;
}

.project-content-extra {
  margin-bottom: 1px;
  font-size: 12px;
  color: #3D3D66;
}

.project-footer {
  margin-bottom: 0;
  font-size: 12px;
  color: #020621;
  float: left;
  margin-right: 15px;
  list-style: none;

}

.project-footer-extra {
  display: block;
  color: #3D3D66;
  font-size: 10px;
}

.element, .typed-cursor{
  font-size: 5em;
  color: white;
}

.change {
  font-size: 5em;
  color: tomato;
  font-weight: bold;
}

.whitespace {
  margin-top: 40px;
  padding: 50px 0px;
}

.head-title {
  color: #FC3844;
  margin-top: -25px;
}

.footer {
  background-color: black;

}

.white {
  color: white;
  list-style: none;
  font-size: 12px;
}

.footer-title {
  color: #a8a8a8;
  font-size: 16px;
  margin-top: 20px;
  font-weight: normal;
}

.hero {
  background-image: url('wallpaper2.jpg');
  margin-top: -8px;
}

.orange-button {
  background-color: #FC3844;
  margin-left: 10px;
  border: 1px solid #FC3844;
  color: white;
}

.orange-button:hover {
  background-color: #FC3844;
  margin-left: 10px;
  border: 1px solid #FC3844;
  color: white;
  cursor: pointer;
}

.social-media {
  margin-left: 10px;
  margin-top: 10px;
}

.no-margin {
  margin-left: 0;
  margin-top: 50px;
}

.follow {
  margin-bottom: 0;
  color: white;
  border-bottom: 1px solid #a8a8a8;
}

.social-margin {
  margin-top: 40px;
  margin-bottom: 40px;
}

.progress-bar {
    background-color: #F1EEEA;
    height: 10px;
    width: 350px;
    margin: 10px 0;
    border-radius: 5px;
    /*box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;*/
}

.progress-bar span {
    display: inline-block;
    margin-bottom: 10px;
    height: 100%;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
    transition: width .4s ease-in-out;
}

.orange span {
      background-color: #fecf23;
      background-image: linear-gradient(top, #fecf23, #fd9215);
}

.newsletter {
    color: white;
    margin-top: -14px;
}

.a-noncolor {
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.a-noncolor:hover {
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.no-bottom {
  margin-bottom: 0;
}

.left-space {
  margin-left: 10px;
}

#myBtn {
  background-color: #fc3844;
  border: none;
  color: white;
}

#myBtn:hover{
  color: white;
  cursor: pointer;
}
